/*
 * -------------------------------------------------
 *  Base ICA Nextflow config file
 * -------------------------------------------------
 * ICA-specific pod annotations and process configurations
 */

// Global default params
params {
    // ICA-specific parameters
    ica_smoke_test = false
}

// Process configuration for ICA
process {
    // Default container for all processes
    container = 'us.gcr.io/broad-dsde-methods/pipseq-qc:latest'
    
    // Default pod annotation for ICA compute instance
    // See: https://help.ica.illumina.com/project/p-flow/f-pipelines#definition
    pod = [
        annotation: 'scheduler.illumina.com/presetSize',
        value: 'standard-medium'
    ]
    
    // Process-specific configurations
    withName: 'GENERATE_REPORT_DATA' {
        cpus = 2
        memory = 4.GB
        pod = [
            annotation: 'scheduler.illumina.com/presetSize',
            value: 'standard-medium'
        ]
    }
    
    withName: 'CONCATENATE' {
        cpus = 4
        memory = 16.GB
        pod = [
            annotation: 'scheduler.illumina.com/presetSize',
            value: 'standard-large'
        ]
    }
    
    withName: 'GUIDE_ASSIGNMENT' {
        cpus = 4
        memory = 16.GB
        pod = [
            annotation: 'scheduler.illumina.com/presetSize',
            value: 'standard-large'
        ]
    }
    
    withName: 'GENERATE_SUPERSAMPLE_QC' {
        cpus = 2
        memory = 8.GB
        pod = [
            annotation: 'scheduler.illumina.com/presetSize',
            value: 'standard-medium'
        ]
    }
}

// Docker configuration for ICA
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
