/*
 * Custom configuration file for pipeline run
 * 
 * Copy this file to run.config and update the parameters below
 * Then run: nextflow run main.nf -c run.config -profile local_cloud
 */

params {
    // Required parameters
    num_input_cells = 10000
    samplesheet = '/disk/fluent_validation/pipeline/potc/Potc_Pilot_5/PotC_Pilot_5.samplesheet.csv'  // or gs:// or local path
    supersample_id = 'PotC_Pilot_5'
    supersample_basename = 'PotC_Pilot_5'
    
    // Output location
    outdir = '/disk/fluent_validation/pipeline/potc'  // or gs:// or local path
    
    // Optional parameters
    run_guide_assignment = true
}

// Optional: Override profile settings here
// aws.region = 'us-west-2'
// aws.profile = 'your-profile'
