data_dir,dragen_file_prefix,subsample_id,subsample_basename
/path/to/data1,sample_001,Subsample_001,subsample_001
/path/to/data2,sample_002,Subsample_002,subsample_002
/path/to/data3,sample_003,Subsample_003,subsample_003
